#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}


.progress-container {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  display: none;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #333333;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #8c8c8c;
  width: 0%;
  transition: width 0.3s;
}

.progress-text {
  text-align: center;
  color: white;
  margin-top: 5px;
}

button:disabled {
  background-color: #4a4a4a;
  cursor: not-allowed;
}


.profile-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-text {
  color: white;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.social-media {
  width: 30px;
  height: 30px;
  transition: transform 0.3s, margin-right 0.3s;
}

.social-media:hover {
  transform: scale(1.2);
  margin-right: 8px;
}

.social-media:active {
  transform: scale(0.8);
}

.conteiner {
  display: flex;
  justify-content: flex-end;
  height: 80vh;
}

.conteiner-down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  position: relative;
}

.icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 80px;
  height: 70px;
}

.creditos {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 5px;
  width: 300px;
  height: 16px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  width: 180px;
  height: 45px;
  padding: 10px 20px;
  font-size: 24px;
  color: white;
  background-color: #8c8c8c;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

button:hover {
  background-color: #333333;
}

button:active {
  transform: scale(0.8);
}

#songSelect {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  background-color: #3333338d;
  color: white;
  border: none;
  border-radius: 10px;
  height: 25px;
}

#songSelect:focus {
  background-color: #3333338d;
  border: none;
}

#songSelect:focus {
  outline: none;
}